<div class="todo__item">
  <label class="todo__item--label">
    <input type="checkbox" name="checkbox" />
    <div class="todo__item--body">
      <h2 class="todo__item--title">Design sign up flow</h2>
      <p class="todo__item--desc">
        By the time a prospect arrives at your signup page, in most cases, they've already By
        the time a prospect arrives at your signup page, in most cases.
      </p>
    </div>
  </label>
</div>