<div class="todo__item">
  <label class="todo__item--label">
    <input type="checkbox" name="checkbox" />
    <div class="todo__item--body">
      <h2 class="todo__item--title"><%- title%></h2>
      <p class="todo__item--desc">
        <%-text%>
      </p>
      <% if(status.toLowerCase()==='pending' ){%>
        <p class="todo__item--pending"><%-status%></p>
      <%} else {%>
        <p class="todo__item--completed"><%-status%></p>
      <%} %>
    </div>
  </label>
</div>