<%- include('header') -%>

  <form class="form" method="POST" action="/task">
    <div class="form__control">
      <%-include('components/sectionTitle', {title:"Create new task"})-%>
    </div>
    <div class="form__control">
      <label class="label">Title</label>
      <input class="input" type="text" name="title" placeholder="Enter title" autofocus />
    </div>
    <div class="form__control">
      <label class="label">Description</label>
      <input class="input" type="text" name="desc" placeholder="Enter description" />
    </div>
    <div class="form__control">
      <button class="btn btn-primary">Create</button>
    </div>
  </form>

  <%- include('footer') -%>