* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/urbanist-v15-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/urbanist-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/urbanist-v15-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/urbanist-v15-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/urbanist-v15-latin-700.woff2") format("woff2");
}

:root {
  --blue: #007fff;
  --blue-dark: #006edd;
  --success: #00aa36;
  --slate-purple: #3f3d56;
  --white: #fff;
  --pale-white: #f5f7f9;
  --muted-azure: #c6cfdc;
  --slate-blue: #8d9cb8;
  --fire-red: #ff5e5e;
  --red-shade: #ffb4ab;
  --pale-white-50: rgba(198, 207, 220, 0.5);
}

:root {
  --font-family: "Urbanist", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 100px 120px;
}

.todo__item {
  border-radius: 20px;
  background: var(--pale-white);
  padding: 24px;
  margin-bottom: 20px;
}

.todo__item--label {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
  text-decoration: none;
}

.todo__item--body {
  flex: 1;
}

.todo__item--title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--slate-purple);
  margin-bottom: 15px;
}

.todo__item input:checked + div .todo__item--title {
  color: var(--slate-blue);
  text-decoration: line-through;
}

.todo__item--desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--slate-blue);
  margin-bottom: 20px;
}

.todo__item--pending,
.todo__item--completed {
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  z-index: 0;
}

.todo__item--pending::before,
.todo__item--completed::before {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 100%;
  content: "";
  z-index: 1;
}

.todo__item--pending {
  color: var(--blue);
}
.todo__item--pending::before {
  background-color: var(--blue);
}

.todo__item--completed {
  color: var(--success);
}
.todo__item--completed::before {
  background-color: var(--success);
}

.todo__item__add {
  padding: 24px;
  margin-bottom: 20px;
}

.todo__item__add:hover .todo__item__add--title {
  color: var(--slate-purple);
}

.todo__item__add--title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--slate-blue);
}

.todo__item--operation {
  display: flex;
  gap: 4px;
}

.btn-icon {
  border: none;
  outline: none;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  text-decoration: none;
}

.btn-icon:hover {
  background-color: var(--pale-white-50);
}

.btn-icon:active {
  transform: scale(0.8);
}

/* Add todo */
.form {
  max-width: 340px;
  margin: auto;
}
.form__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.label {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
.input {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  outline: 1px solid var(--slate-blue);
  transition: outline-color 0.2s ease-in-out, outline-with 0.1s ease-in-out;
}
.input:focus {
  outline-color: var(--blue);
  outline-width: 2px;
}

.btn {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;

  cursor: pointer;
}

.btn-primary {
  color: #ffff;
  background-color: var(--blue);
}

.btn-primary:hover {
  background-color: var(--blue-dark);
}

.section__title {
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
